{% extends 'base.html' %}


{% block content %}
<form name="form" method="get" action="/">
    <select name="subject" id="subject" onchange='window.location="/?q="+this.value;' style="height:30px; width:250px;">
        <option value="select" selected="selected">All matches of the actual season</option>
        <option value="1">Next upcoming matches</option>
        <option value="2">Win/Loss Ratio of the actual season</option>
        {% for a in teams_list %}
            <option value="{{a}}">{{a}}</option>
        {% endfor %} 
    </select>
</form>
    
{% include "matches/list.html" %}

{% endblock %}
