{% extends 'base.html' %}

{% block content %}

    <div class="table">
        <div class="first">
            <div class="cell-1">Team1</div>
            <div class="cell-2">Team2</div>
            <div class="cell-3">Time</div>
        </div>
    </div>

    {% for a in list %}

        <div class="table">
            <div class="second">
                <div class="cell" data-title="Team1"><img src="{{a.img_link_team1}}" width="25" 
                    height="25" style="vertical-align: middle;">{{a.team1_name}}</div>
                <div class="cell" data-title="Team2"><img src="{{a.img_link_team2}}" width="25" 
                    height="25" style="vertical-align: middle;">{{a.team2_name}}</div>
                <div class="cell" data-title="Time">{{a.date_match}}</div>
            </div>
        </div>

    {% endfor %} 
    
{% endblock %}